  // #cover
  #cover {
    background-image: url(../../../img/exhuma_poster.jpg);
    background-size: 74% 156%;
    background-repeat: no-repeat;
    background-position: 186px -112px;
    width: 100%;
    height: 100vh;
    background-color: #000;

    @at-root .cover_title {
      width: 100%;
      color: #fff;
      text-align: center;
      position: absolute;
      top: 64%;

      p {
        font-weight: bold;
        font-size: 140px;

        @include mobile() {
          font-size: 80px;
        }

        @include laptop () {
          font-size: 120px;
        }
      }

      span {
        font-size: 24px;

        @include mobile() {
          font-size: 20px;
        }

        @include laptop() {
          font-size: 22px;
        }
      }

      @include mobile() {
        top: 73%;
      }
    }

    @include mobile() {
      background-size: 100% 100%;
      background-position: 0px;
    }
    
    @include tablet() {
      background-size: 100% 156%;
      background-position: 0px -112px;
    }
  } // --- #cover
