@charset "UTF-8";
/* portfolio2.css */
/* fonts.css */
@font-face {
  font-family: 'GeneralKimJwajinOTF_Regular';
  src: url("../../font/K7_General_OTF/GeneralKimJwajinOTF_Bold.otf");
  src: url("../../font/K7_General_OTF/GeneralKimJwajinOTF_Regular.otf");
}

*::selection {
  color: #D71E15;
}

/* 전체 레이아웃 설정 */
/* #wrap */
#wrap {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #fff;
  font-family: 'GeneralKimJwajinOTF_Regular', 'GeneralKimJwajinOTF_Bold';
  font-weight: 300;
}

#headBox {
  width: 100%;
  height: 100vh;
  top: 0;
  box-sizing: border-box;
}

.headinner {
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  padding: 13px 100px;
  z-index: 1000;
}

.menu_bar {
  width: 70%;
}

.navbar_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.gnb {
  position: fixed;
  top: 20px;
  cursor: pointer;
  color: #fff;
}

.gnb i {
  font-size: 30px;
  color: #fff;
}

@media all and (max-width: 679px) {
  .gnb i {
    font-size: 24px;
  }
}

@media all and (max-width: 679px) {
  .gnb {
    top: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .gnb {
    top: auto;
  }
}

.burger_back {
  position: fixed;
  top: 0.9rem;
  left: 4.3rem;
  cursor: pointer;
  color: #fff;
}

.burger_back i {
  font-size: 28px;
}

@media all and (max-width: 679px) {
  .burger_back {
    top: 0.3rem;
    left: 0.4rem;
  }
}

.navbar_menu {
  width: 100%;
  height: 100vh;
  background-image: url(../../../img/exhuma_back.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  padding: 100px 60px;
  position: fixed;
  background-color: #D71E15;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateY(-200%);
  z-index: 999;
  transition: transform 0.5s ease;
}

.navbar_menu .main_move {
  left: 70px;
  position: relative;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

@media all and (max-width: 679px) {
  .navbar_menu .main_move {
    left: 20px;
  }
}

.navbar_menu .main_move:hover {
  color: #D71E15;
  font-weight: bold;
}

.navbar_menu .menu_inner {
  width: 100%;
  display: flex;
}

.navbar_menu .menu_inner .aside {
  width: 50%;
  height: 67.9vh;
  color: #fff;
  align-content: center;
  position: relative;
  left: 103px;
}

.navbar_menu .menu_inner .aside a {
  width: 370px;
  text-align: center;
  font-size: 170px;
  font-weight: bold;
}

@media all and (max-width: 679px) {
  .navbar_menu .menu_inner .aside a {
    font-size: 60px;
    display: block;
    width: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .navbar_menu .menu_inner .aside a {
    font-size: 100px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .navbar_menu .menu_inner .aside a {
    font-size: 150px;
  }
}

.navbar_menu .menu_inner .aside span {
  display: block;
  width: 370px;
  text-align: center;
  font-size: 32px;
}

@media all and (max-width: 679px) {
  .navbar_menu .menu_inner .aside span {
    width: auto;
    font-size: 18px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .navbar_menu .menu_inner .aside span {
    width: auto;
    text-align: justify;
    font-size: 22px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .navbar_menu .menu_inner .aside span {
    font-size: 24px;
  }
}

@media all and (max-width: 679px) {
  .navbar_menu .menu_inner .aside {
    width: 100%;
    height: auto;
    left: 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .navbar_menu .menu_inner .aside {
    left: 30px;
  }
}

.navbar_menu .menu_inner .menu {
  width: 50%;
  display: flex;
  flex-direction: column;
  left: 50px;
}

.navbar_menu .menu_inner .menu a {
  font-size: 40px;
  color: #fff;
  line-height: 180px;
}

@media all and (max-width: 679px) {
  .navbar_menu .menu_inner .menu a {
    width: auto;
    height: 100px;
    position: static;
    font-size: 24px;
    text-align: center;
    align-content: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .navbar_menu .menu_inner .menu a {
    font-size: 30px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .navbar_menu .menu_inner .menu a {
    font-size: 35px;
  }
}

.navbar_menu .menu_inner .menu a:nth-child(1) {
  width: 310px;
  position: relative;
  left: 180px;
}

@media all and (max-width: 679px) {
  .navbar_menu .menu_inner .menu a:nth-child(1) {
    width: auto;
    left: 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .navbar_menu .menu_inner .menu a:nth-child(1) {
    width: 232px;
    left: 80px;
  }
}

.navbar_menu .menu_inner .menu a:nth-child(2) {
  width: 350px;
}

@media all and (max-width: 679px) {
  .navbar_menu .menu_inner .menu a:nth-child(2) {
    width: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .navbar_menu .menu_inner .menu a:nth-child(2) {
    width: 268px;
  }
}

.navbar_menu .menu_inner .menu a:nth-child(3) {
  width: 222px;
  position: relative;
  left: 282px;
}

@media all and (max-width: 679px) {
  .navbar_menu .menu_inner .menu a:nth-child(3) {
    width: auto;
    left: 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .navbar_menu .menu_inner .menu a:nth-child(3) {
    width: 168px;
    left: 102px;
  }
}

.navbar_menu .menu_inner .menu a:hover {
  color: #D71E15;
}

@media all and (max-width: 679px) {
  .navbar_menu .menu_inner .menu {
    width: 100%;
  }
}

@media all and (max-width: 679px) {
  .navbar_menu .menu_inner {
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 40px;
  }
}

@media all and (max-width: 679px) {
  .navbar_menu {
    width: 100%;
    padding: 70px 5px;
  }
}

.navbar_menu.active {
  transform: translateX(0);
}

.navbar_overlay.active {
  opacity: 1;
  pointer-events: auto;
}

@media all and (max-width: 679px) {
  .menu_bar {
    width: 81.334%;
  }
}

@media all and (max-width: 679px) {
  .headinner {
    height: 50px;
    padding: 10px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .headinner {
    height: 60px;
    padding: 13px 50px;
  }
}

.reservation {
  width: 30%;
  display: flex;
  justify-content: center;
  color: #fff;
  gap: 15px;
}

.reservation a {
  display: block;
  width: 100%;
  height: 100%;
  align-content: center;
  font-size: 14px;
}

@media all and (max-width: 679px) {
  .reservation a {
    font-size: 13px;
  }
}

.reservation .reservation_rink {
  width: 68px;
  height: 68px;
  background-color: #335D6A;
  border-radius: 50%;
  align-content: center;
  text-align: center;
  box-shadow: 0 0 50px #335D6A, 0 0 50px #335D6A;
}

.reservation .reservation_rink:hover {
  color: #D71E15;
  font-weight: bold;
}

@media all and (max-width: 679px) {
  .reservation {
    width: 21.334%;
    height: fit-content;
    flex-wrap: wrap;
    gap: 8px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .reservation {
    width: 50%;
    height: fit-content;
  }
}

@media all and (max-width: 679px) {
  #headBox {
    height: auto;
  }
}

#cover {
  background-image: url(../../../img/exhuma_poster.jpg);
  background-size: 74% 156%;
  background-repeat: no-repeat;
  background-position: 186px -112px;
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.cover_title {
  width: 100%;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 64%;
}

.cover_title p {
  font-weight: bold;
  font-size: 140px;
}

@media all and (max-width: 679px) {
  .cover_title p {
    font-size: 80px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .cover_title p {
    font-size: 120px;
  }
}

.cover_title span {
  font-size: 24px;
}

@media all and (max-width: 679px) {
  .cover_title span {
    font-size: 20px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .cover_title span {
    font-size: 22px;
  }
}

@media all and (max-width: 679px) {
  .cover_title {
    top: 73%;
  }
}

@media all and (max-width: 679px) {
  #cover {
    background-size: 100% 100%;
    background-position: 0px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #cover {
    background-size: 100% 156%;
    background-position: 0px -112px;
  }
}

#introduce {
  width: 100%;
  height: 100vh;
  padding: 130px 120px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../../../img/exhuma_tree.jpg);
  background-size: 100% 110%;
  background-repeat: no-repeat;
  background-position: 0px -60px;
  color: #fff;
  justify-content: center;
}

.intro_title {
  width: 100%;
  height: 185px;
  color: #fff;
  text-align: center;
}

.intro_title p {
  font-weight: bold;
  font-size: 96px;
}

@media all and (max-width: 679px) {
  .intro_title p {
    font-size: 40px;
  }
}

.intro_title span {
  font-size: 24px;
}

@media all and (max-width: 679px) {
  .intro_title span {
    font-size: 18px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .intro_title span {
    font-size: 22px;
  }
}

@media all and (max-width: 679px) {
  .intro_title {
    height: 90px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .intro_title {
    height: 136px;
  }
}

.intro_txt {
  width: 45%;
  text-align: center;
  font-size: 20px;
}

@media all and (max-width: 679px) {
  .intro_txt {
    font-size: 14px;
    width: 66%;
    height: -webkit-fill-available;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .intro_txt {
    width: 90%;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .intro_txt {
    font-size: 18px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #introduce {
    padding: 94px 30px;
  }
}

@media all and (max-width: 679px) {
  #introduce {
    padding: 35px 40px 35px 10px;
    height: 100vh;
    gap: 16px;
    background-size: 100% 100%;
    background-position: 0px;
  }
}

#character {
  height: 100vh;
  padding: 60px 100px;
  padding: 94px 70px 0;
  background-color: #000;
}

#character h2 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  height: 32px;
  color: #fff;
}

@media all and (max-width: 679px) {
  #character h2 {
    font-size: 16px;
  }
}

#character .swiper_wrapper {
  display: flex;
}

#character .swiper_wrapper .swiper_slide {
  width: 23.78%;
  height: auto;
  background-color: #335D6A;
  margin: 30px 10px 0;
  padding: 26px 20px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.character_img {
  height: 300px;
  margin: auto;
}

.character_img img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .character_img {
    height: 250px;
  }
}

.character_txt {
  width: auto;
  margin: 20px auto 0;
  color: #fff;
}

.character_txt p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.character_txt span {
  margin-top: 10px;
  font-size: 14px;
}

@media all and (max-width: 679px) {
  #character .swiper_wrapper .swiper_slide {
    width: 100%;
    margin: 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #character .swiper_wrapper .swiper_slide {
    width: 47.6%;
  }
}

@media all and (max-width: 679px) {
  #character .swiper_wrapper {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #character .swiper_wrapper {
    flex-wrap: wrap;
  }
}

#character .swiper_slide:nth-child(1) {
  margin-left: 0;
}

#character .swiper_slide:nth-child(4) {
  margin-right: 0;
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #character .swiper_slide:nth-child(3) {
    margin-left: 0;
  }
}

@media all and (max-width: 679px) {
  #character {
    height: fit-content;
    padding: 28px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #character {
    height: fit-content;
    padding: 94px 70px;
  }
}

#gallery {
  height: 100vh;
  padding: 60px 100px;
  padding: 0;
  padding-top: 94px;
  background-color: #000;
}

#gallery h2 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  position: absolute;
  height: 37px;
  color: #fff;
}

@media all and (max-width: 679px) {
  #gallery h2 {
    font-size: 16px;
  }
}

#gallery .container {
  width: 100%;
  height: 88vh;
  margin: auto;
  display: grid;
  align-content: center;
}

#gallery .container img {
  display: block;
  width: auto;
  height: 60vh;
  margin: auto;
}

@media all and (max-width: 679px) {
  #gallery .container img {
    display: block;
    width: 200px;
    height: fit-content;
  }
}

@media all and (max-width: 679px) {
  #gallery .container {
    height: -webkit-fill-available;
  }
}

#gallery .prev {
  position: absolute;
  left: 200px;
  top: 54.4vh;
  width: 0px;
  height: 0px;
  border-left: 0 solid transparent;
  border-right: 15px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media all and (max-width: 679px) {
  #gallery .prev {
    left: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #gallery .prev {
    left: 100px;
  }
}

@media all and (min-width: 1920px) {
  #gallery .prev {
    border-left: 0 solid transparent;
    border-right: 25px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}

#gallery .next {
  position: absolute;
  right: 200px;
  top: 54.4vh;
  width: 0px;
  height: 0px;
  border-right: 0 solid transparent;
  border-left: 15px solid #ffffff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

@media all and (max-width: 679px) {
  #gallery .next {
    right: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #gallery .next {
    right: 100px;
  }
}

@media all and (min-width: 1920px) {
  #gallery .next {
    border-right: 0 solid transparent;
    border-left: 25px solid #ffffff;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }
}
